extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Quadria DaNae Freeman

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer Apprentice.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Greetings! My name is Quadria Freeman, I am 23 years old currently learning how to do Web Development and Coding through Project Athena. 
            | There were over 300 applicants that applied to the program and only 20 were selected. As blessed as the other 19 other apprentices I was chosen out of the 20 that were selected.
            | I wouldn't trade this opportunity for the world, being in this program I have learned a lot about Fullstack Javascript, OOP, JQuery, API, JSON, CSS and so much more. Can not wit to see what else I learn as an forecoming Web Developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li FullStack Javascript
          li OOP
          li JQuery
          li API
          li JSON
          li AJAX
          li HTML
          li CSS
          li Express Middleware
        h6 Contact Info

        //- Add your own contact info
        ul
          li 214-303-7856
          li quadria.freeman@verizon.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/quafreeman') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  